<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/34335baf-f9e6-49ee-9907-48228f503606/resourceGroups/Moolansgroup/providers/Microsoft.Web/sites/moolans</ResourceId>
    <ResourceGroup>Moolansgroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moolans.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moolans.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>moolans</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$moolans</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="moolansEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=moolans.database.windows.net,1433;Initial Catalog=moolans;Persist Security Info=False;User ID=moolansadmin;Password=moolans@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=moolans.database.windows.net,1433;Initial Catalog=moolans;Persist Security Info=False;User ID=moolansadmin;Password=moolans@123;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Backendpro.Models.moolansEntities1, Backendpro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="moolansEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MaloonsEntity.csdl|res://*/Models.MaloonsEntity.ssdl|res://*/Models.MaloonsEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=moolans.database.windows.net,1433;Initial Catalog=moolans;Persist Security Info=False;User ID=moolansadmin;Password=moolans@123;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>